
header { background-color: black;  }

.acordion { display: none ; }

.navegacion span { color: white; font-weight: bold;  padding-right: 1rem;  }

.container-logo { margin-top: 1.4rem;   display: inline-block;  margin-right: 20px;   }
	
.navegacion { display: inline-block; padding-top: 2.6rem; padding-bottom: 17px; }

.opciones { display: inline-block; }

.container-promo { padding-top: 1.3rem;  font-family: "exp-regular", arial; }

.icon-search { background-position: -1.6rem -8.8rem; }
