.header-style{
	background-color:#000;
	color:#FFF;
}
.navbar{
	margin-bottom:auto;	
}
.container-header{
	max-width:1348px;
	width:100%;
	padding-left:45px;
	padding-right:45px;
	margin:auto;
}
.container-promo{
	padding-top:13px;
	font-size:13px;
	font-family:arial;
	float: right;
    display: block;
}
.container-menu{
	padding-top:26px;
	display:inline-block;
}
.container-header-logo{	
	margin-top:14px;
	display:inline-block;
	max-height:28px;
	margin-right:10px;
}
.container-header-logo>a{
	padding:0px;
	float:left;
}
.container-header-logo>a>img{
	width:200px;
	height:33px;
}
.promo-item{
	text-decoration:underline;
	color:#FFF;
}
.promo-item:hover{
	color:#FFF;
}
.nav-custom{
	margin-top:16px;
	display:inline-block;
	height:55px;
}
.nav-custom>li{
	height:55px;
	font-size:12px;
	display:inline-block;
}
.nav-custom>li>a{
	color:#FFF;
	font-weight:bold;
}
.nav-custom>li>a:hover{
	background:none;
}

.icon-search{
	background-image: url(/test1/imagenes/icon-nav-sprite.png);
	background-repeat: no-repeat;
    background-size: 5.6rem 37.3rem;
    color: #FFF;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.8rem;
    line-height: 2.2rem;
    margin-bottom: -.6rem;
    min-width: 2.2rem;
    position: relative;
    text-align: center;
	background-position: -1.6rem -8.8rem;
}