.container14-full {
    height: 100%;
    margin: auto auto;
    position: relative;
    width: 100%;
}
.container14-header {
    /* background-image: linear-gradient(#FFFFFF 0%, #F3F3F3 50%, #EDEDED 51%, #FFFFFF 100%); */
    background-position: initial initial;
    background-repeat: repeat no-repeat;
    /* border: 1px solid #BBBBBB; */
    /* box-shadow: #888888 0 0 15px; */
    /* height: 80px; */
    /* left: 0; */
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    z-index: 999;
}
.container {
    width: 97% !important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-container{
	position: relative;
	/* min-height: 73px; */
	/* margin-bottom: 20px; */
	/* border: 1px solid transparent; */
}
.container-header{
	/* margin-left:0.5px; */
	/* margin-right:0.5px; */
	/* padding-left:45px; */
	/* padding-right:45px; */
	max-width: 1348px;
}
.navbar-logo>a>img{
	height:32px;
	width:200px;
}
.div-navbar-header-menu{
	margin: 0px 0px 0px -10px;
	float: left;
}
.navbar-header-menu{
	margin: 7.5px -15px;	
}
.navbar-header-menu>li{
	display:inline;
	float:left;
	padding-left:10px;
}
.navbar-header-menu > li > a {	
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px; 
	text-decoration:none;
	color:#FFF;
	text-align: center;
	    font-weight: bolder;
	/* vertical-align:center; */
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px; }

.breadcrumb > li {
  display: inline-block; }

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #454545;
  content:'';
  border-left:solid 1px #454545;
  height:20px;
 }

.breadcrumb > .active {
  color: #777; 
 }

 .breadcrumb {
  padding: 8px 15px;
  margin-top: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
  }

.container-promo {
    float: right;
    display: block;
    font-size: 12px;
}

.container-secondary{
	margin-bottom: 0;
    margin-right: 0;
    color: #FFF;
    position: relative;
}
.promo-item {
    color: #FFF;
}

.container-promo-secondary {
    float: right;
    display: block;
    font-size: 12px;
    margin-top: -10px;
}
 .menu-featured{
	padding-left:0px;
 }
 .container-menu-list{
	padding-left:0px;
	padding-right:0px;
 }

 .tooltipConten {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipConten .tooltiptext {
    visibility: hidden;
    width: 900px;
    height: 800px;
    color: #black;
    text-align: center;
    border-radius: 6px;
    border-color: black;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipConten:hover .tooltiptext {
    visibility: visible;
    background-color: white;
}