@media (min-width: 768px ) { 
.container-logoo img {
    max-width: 20rem;
    
}
}

@media (min-width: 1000px){
.headerbolsa:before {
    border-right: 0.1rem solid #454545;
    bottom: -.6rem;
    content: "";
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
    position: relative;
    width: .1rem;
}
}

@media (min-width: 1000px){
.signed:before {
    border-right: 0.1rem solid #454545;
    bottom: -.6rem;
    content: "";
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
    position: relative;
    width: .1rem;
}
}




@media (min-width: 1000px){
.container-nav {
    clear: none;
    margin-left: 0;
    padding-top: 1.6rem;

}
}

