.container-element{
	max-width:1348px;
}
.section-component{
	padding-right: 45px;
	padding-left: 45px;
	margin-right: auto;
	margin-left: auto;
}
.layout-element-1{
	margin-bottom:8px;
	margin-right: 0px;
	margin-left: 0px
}
.layout-space{
	width:100%;
}
.col-custom{
	width:33%;
	float: left;
}
.col-center{
	width:33%;
	float: left;
	margin-left:5.8px;
	margin-right:5.8px;
}
.form-accessory{
	clear: both;
    content: "";
    display: table;
}
.col{
	display: block;
}
.col-accessory{
	width:25%;
	float: left;
	padding-left:4px;
	padding-right:4px;
}
.col-accessory>a>img{
	height:214px;
	width:308px;
}
.footer-title{
	padding-bottom:5px;
	margin-top:6px;
	font-weight: bold;	
    text-align: center;
	color:#000;
}
.footer-title .span-link{
	display: inline-block;
	line-height: 1;
    margin-bottom: 0.6rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    text-decoration: none;
    text-transform: uppercase; 
}
.footer-title .span-link .size{
	top:0px;
	font-size: 10px;
	width:2px;
}
.accessory-header{
	margin-bottom:18px;
	text-align:center;
}
.title-accessory{
	margin:0px;
}
.single-img{
	padding-left:1px;
	padding-right:1px;
	width:100%;
}
.carrusel-header{
	margin: 0 auto;
	padding-top:50px;
	padding-bottom:36px;;
}
.carrusel-header>h3{	
	position:relative;
	margin-top:0px;
}
.btn-header{	
	display:block;
	float:right;
	padding: 0px;
	margin:0px;
	position:relative;
}
.btn.btn-link{	
	display:inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
    border: .2rem solid transparent;
    min-height: 2rem;
    min-width: 16rem;
    padding: 1.1rem .5rem 1rem .5rem;
	font-weight: bold;
	background-color: #000;
    color: #FFF;	
}
.btn.btn-link:hover{
	background:#696969;
	text-decoration:none;
}
.view-galery{
	color:#000;
	font-weight: bold;
}
.view-galery:hover{
	color:#696969;
	text-decoration:none;
}